/* set global styles */
body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;
  width: 100vw;
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
}

/* dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: white;
}

/* navigation bar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  background: white;
  z-index: 1000;
  text-align: center;
  padding: 15px;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .navbar {
  background: #121212;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

body.dark-mode .navbar a {
  color: white;
}

.theme-toggle {
  position: absolute;
  right: 20px;
  background: none;
  border: 0px solid black;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .theme-toggle {
  border: 0px solid white;
  color: white;
}

/* main content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  max-width: 800px;
  margin: 100px auto 0 auto;
  text-align: center;
}

.title {
  font-size: 5vw;
  font-weight: bold;
  margin-bottom: 5px;
}

.description {
  font-size: 2vw;
  max-width: 80%;
  margin-bottom: 50px;
}

/* search bar */
.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.search-bar {
  width: 100%;
  padding: 1vw;
  border: 2px solid black;
  border-radius: 50px;
  font-size: 1.5vw;
  text-align: center;
  outline: none;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.search-bar::placeholder {
  color: black;
  font-weight: bold;
}

body.dark-mode .search-bar {
  background-color: #121212;
  color: white;
  border: 2px solid white;
}

body.dark-mode .search-bar::placeholder {
  color: lightgray;
}

/* search results */
.search-results {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #d0d0d0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .search-results {
  background: #2a2a2a;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.result-item {
  display: block;
  padding: 10px;
  border-bottom: 0px solid #ddd;
  text-decoration: none;
  color: black;
  background: white;
  transition: background-color 0.3s, color 0.3s;
}

.result-item:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .result-item {
  color: white;
  background: #1a1a1a;
  border-bottom: 0px solid #444;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .result-item:hover {
  background: #222;
  transition: background-color 0.3s, color 0.3s;
}

/* footer */
.footer {
  color: black;
  background: white;
  padding: 10px;
  font-size: 1vw;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 600px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .footer {
  background: #121212;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}
